WEBULL_ENV=uat
WEBULL_REGION=us
WEBULL_APP_KEY=replace_with_your_app_key
WEBULL_APP_SECRET=replace_with_your_app_secret
WEBULL_ACCOUNT_ID=replace_after_running_account_list
WEBULL_TOKEN_DIR=.webull-token
WEBULL_ALLOW_LIVE_ORDERS=NO
